[submodule "ext/rawspeed"]
	path = ext/rawspeed
	url = https://github.com/LucaZulberti/rawspeed.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/LucaZulberti/imgui.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
